/*------------------------------------*\
  # VARIABLES
\*------------------------------------*/
// Colors
$primary: #5265e1;
$secondary: #fa5959;

// Typography
$font-family-base: "Montserrat", sans-serif;

// Components
$btn-border-width: 2px;
$card-border-width: 0;
$accordion-icon-active-color: $secondary;

// Import Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";

/*------------------------------------*\
  # TYPOGRAPHY
\*------------------------------------*/
p {
    font-size: 0.9rem;
}

.fs-small {
    font-size: 0.8rem;
}

/*------------------------------------*\
  # LAYOUT & SPACING
\*------------------------------------*/
.mt-10 {
    margin-top: 7rem;
}

.mb-md-10 {
    @media (min-width: 768px) {
        margin-bottom: 7rem;
    }
}

#download-section {
    margin-top: 5rem;

    @media (min-width: 768px) {
        margin-top: 10rem;
    }
}

.cards-row-custom-height {
    @media (min-width: 992px) {
        height: 400px;
    }
}

/*------------------------------------*\
  # COMPONENTS
\*------------------------------------*/

/* Navigation */
.nav-underline {
    border-bottom: 1px solid #cbcbcb;

    .nav-link {
        color: #777777;

        &:hover {
            color: $secondary;
            border-bottom: 2px solid transparent;
            cursor: pointer;
        }

        &.active {
            border-bottom: 4px solid $secondary;
        }

        &:focus {
            border-bottom: 2px solid transparent;
        }
    }
}

.nav-link-footer {
    color: white;
}

/* Cards */
.card-title-text {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.card-button {
    font-size: 0.9rem;
    padding: 0.9rem 2rem;
}

.card-dots {
    width: 100%;
    height: 4px;
    margin: 1rem 0 1.5rem 0;
    background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.2) 2px,
        transparent 1px
    );
    background-size: 15px 4px;
    background-position: center;
    background-repeat: repeat-x;
}

/* Forms */
.form-control {
    &::placeholder {
        font-size: 0.8rem;
    }
}

/* Accordion */
.accordion {
    .accordion-item {
        border-left: 0;
        border-right: 0;
        
        .accordion-button {
            &:focus {
                box-shadow: none;
            }
            
            &:not(.collapsed) {
                background-color: white;
                
            }
        }
    }
}

/*------------------------------------*\
  # BUTTONS
\*------------------------------------*/
.btn-primary {
    @include button-variant(
        $background: $primary,
        $border: $primary,
        $color: white
    );
}

.btn-secondary {
    @include button-variant(
        $background: $secondary,
        $border: $secondary,
        $color: white
    );
}

.btn-light {
    @include button-variant(
        $background: #f7f7f7,
        $border: #f7f7f7,
        $color: black
    );
}

.btn-contact-us {
    @include button-variant(
        $background: $secondary,
        $border: $secondary,
        $color: white
    );
}

/*------------------------------------*\
  # DECORATIVE ELEMENTS
\*------------------------------------*/
.hero-image-decoration {
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -20px;
        width: 30%;
        height: 40vw;
        border-radius: 100px 0 0 100px;
        background-color: $primary;
        z-index: -1;

        @media (min-width: 768px) {
            width: 70%;
            height: 20vw;
            border-radius: 200px 0 0 200px;
        }
    }

    img {
        position: relative;
        z-index: 2;
    }
}

.features-image-decoration {
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        border-radius: 0px 100px 100px 0px;
        background-color: $primary;
        z-index: -1;
        bottom: -60px;
        left: 0;
        width: 70%;
        height: 40vw;

        @media (min-width: 768px) {
            top: 50%;
            left: 0;
            width: 70%;
            height: 20vw;
            border-radius: 0px 200px 200px 0px;
        }
    }

    img {
        position: relative;
        z-index: 2;
    }
}

/*------------------------------------*\
  # UTILITIES
\*------------------------------------*/
.navbar-purple {
    background-color: #242946;
}