/*------------------------------------*\
  # VARIABLES
\*------------------------------------*/
// Colors
$primary: #5265e1;
$secondary: #fa5959;

// Typography
$font-family-base: "Montserrat", sans-serif;

// Components
$btn-border-width: 2px;
$card-border-width: 0;
$accordion-icon-active-color: $secondary;

// Import Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";

/*------------------------------------*\
  # TYPOGRAPHY
\*------------------------------------*/
p {
    font-size: 0.9rem;
}

.fs-small {
    font-size: 0.8rem;
}

/*------------------------------------*\
  # LAYOUT & SPACING
\*------------------------------------*/
.mt-10 {
    margin-top: 7rem;
}

.mb-md-10 {
    @media (min-width: 768px) {
        margin-bottom: 7rem;
    }
}

#download-section {
    margin-top: 5rem;

    @media (min-width: 768px) {
        margin-top: 10rem;
    }
}

.cards-row-custom-height {
    @media (min-width: 992px) {
        height: 400px;
    }
}

/*------------------------------------*\
  # COMPONENTS
\*------------------------------------*/

/* Navigation */
.nav-underline {
    border-bottom: 1px solid #cbcbcb;

    .nav-link {
        color: #777777;

        &:hover {
            color: $secondary;
            border-bottom: 2px solid transparent;
            cursor: pointer;
        }

        &.active {
            border-bottom: 4px solid $secondary;
        }

        &:focus {
            border-bottom: 2px solid transparent;
        }
    }
}

.nav-link-footer {
    color: white;
    &:hover {
        color: $secondary;
    }
}

.nav-link-header {
    color: white;

    &:hover {
        color: $secondary;
    }

    @media (min-width: 992px) {
        color: black;
    }
}

/* Modal */

.modal-content.modal-bg-primary {
    background-color: rgba(shade-color($primary, 75%), 0.75);
    .modal-header {
        border: none;
        padding: 2rem;

        button {
            background: transparent;
            border: none;
            padding: 0;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .modal-body {
        padding: 2rem;

        .nav-item {
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.1);

            &:last-child {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            .nav-link {
                padding: 1.5rem 0;
                text-align: center;
                font-size: 1.25rem;
                letter-spacing: 2px;
            }
        }

        .btn {
            border: 2px solid white;
            width: 100%;
            padding: 0.75rem;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }

    .modal-footer {
        border: none;
        padding: 2rem;
        margin-top: 2rem;

        .icon-socials {
            width: 1.5rem;
            height: 1.5rem;

        }
    }
}

/* Cards */
.card-title-text {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.card-button {
    font-size: 0.9rem;
    padding: 0.9rem 2rem;
}

.card-dots {
    width: 110%;
    height: 4px;
    margin: 1rem -10% 1.5rem -10%;
    overflow: hidden;
    background-image: url("./Imagenes/bg-dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Forms */
.form-control {
    &::placeholder {
        font-size: 0.8rem;
    }

    .was-validated & {
        &:invalid {
            border-radius: 6px 6px 0 0;

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.invalid-feedback {
    color: white;
    font-size: 0.7rem;
    font-style: italic;
    position: absolute;
    background-color: $secondary;
    padding: 0.25rem 0.5rem;
    margin-top: 0;
    border-radius: 0 0 4px 4px;
}

/* Accordion */
.accordion {
    .accordion-item {
        border-left: 0;
        border-right: 0;

        .accordion-button {
            &:hover {
                color: $secondary;
            }

            &:focus {
                box-shadow: none;
            }

            &:not(.collapsed) {
                background-color: white;
            }
        }
    }
}

/*------------------------------------*\
  # BUTTONS
\*------------------------------------*/
.btn-primary {
    @include button-variant(
        $background: $primary,
        $border: $primary,
        $color: white,
        $hover-background: white,
        $hover-border: $primary,
        $hover-color: $primary,
        $active-background: #f7f7f7,
        $active-border: $primary,
        $active-color: $primary
    );
}

.btn-secondary {
    @include button-variant(
        $background: $secondary,
        $border: $secondary,
        $color: white,
        $hover-background: $white,
        $hover-border: $secondary,
        $hover-color: $secondary,
        $active-background: #f7f7f7,
        $active-border: $secondary,
        $active-color: $secondary
    );
}

.btn-light {
    @include button-variant(
        $background: #f7f7f7,
        $border: #f7f7f7,
        $color: black,
        $hover-background: white,
        $hover-border: black,
        $hover-color: black,
        $active-background: #f7f7f7,
        $active-border: black,
        $active-color: black
    );
}

.btn-contact-us {
    @include button-variant(
        $background: $secondary,
        $border: $secondary,
        $color: white,
        $hover-background: white,
        $hover-border: $secondary,
        $hover-color: $secondary,
        $active-background: rgb(240, 240, 240),
        $active-border: $secondary,
        $active-color: $secondary
    );
}

/*------------------------------------*\
  # DECORATIVE ELEMENTS
\*------------------------------------*/
.hero-image-decoration {
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -20px;
        width: 30%;
        height: 40vw;
        border-radius: 100px 0 0 100px;
        background-color: $primary;
        z-index: -1;

        @media (min-width: 768px) {
            width: 70%;
            height: 20vw;
            border-radius: 200px 0 0 200px;
        }
    }

    img {
        position: relative;
        z-index: 2;
    }
}

.features-image-decoration {
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        border-radius: 0px 100px 100px 0px;
        background-color: $primary;
        z-index: -1;
        bottom: -60px;
        left: 0;
        width: 70%;
        height: 40vw;

        @media (min-width: 768px) {
            top: 50%;
            left: 0;
            width: 70%;
            height: 20vw;
            border-radius: 0px 200px 200px 0px;
        }
    }

    img {
        position: relative;
        z-index: 2;
    }
}

/*------------------------------------*\
  # UTILITIES
\*------------------------------------*/
.navbar-purple {
    background-color: #242946;
}

.icon-socials {
    cursor: pointer;

    &:hover {
        filter: invert(40%) sepia(100%) saturate(7481%) hue-rotate(352deg)
            brightness(200%);
    }
}
